

.container {
  display: grid;
    font-family: "karla", sans-serif;
  font-size: 1.25em;
  grid-gap: 20px;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "nav        nav        nav"
    "content    content    content"
    "footer     footer     footer"
}

/****   NAVIGATION      ****/

header {
  grid-area: nav;
}

.navbar {
  background-color: pink;
}

/****   BIO     ****/

.bio {
  grid-area: content;
  background-color: yellow;
}

/****   WRITINGCLOUD PROJECT     ****/

.wcproject {
  grid-area: content;
  background-color: green;
}

/****   FOOTER      ****/

footer {
  display: grid;
  grid-area: footer;
  background-color: #34322D;
 
}

.footer-inner {
  background-color: white;
  grid-area: footer;
}

.footer-header {
  font-weight: bold;
  font-size: 2.813em;
}


/*.footer-inner, .footer-social {
  display:flex;*/
}

.footer-header, .footer-inner, .footer-social {
  color: #EFEDEF;
}

.copyright {
  font-size: 0.60em;
}

/****   MEDIA QUERIES    ****/

@media screen and (max-width: 64rem) {
  body {
    display: block;
  }
