
body {
  font-family: "karla", sans-serif;
  color: rgb(32, 34, 32, 1.0);
  font-size: 1.25em;

}

h1, h2, h3, h4 {
  font-family: "rubik", sans-serif;
}

.bio, .biography, .intro {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto auto;
  margin: 170px 0 130px 0;
}

p {
  max-width: 500px;
  margin: auto;
  margin-bottom: 25px;
  line-height: 130%;
}

.left-half p, .left-users p {
margin: 0 0 20px 0;
}

h4 {
  margin-bottom: 10px;
}

/****   NAVIGATION      ****/

nav {
  display: grid;
  background-color: #34322D;
  grid-template-columns: repeat(9, 1fr);
  box-shadow: 0 2px 8px rgba(0,0,0,.1);
  font-family: "karla", sans-serif;
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 99;
  padding: 10px 0 10px 0;
  
}

.sidebar {
  display: flex;
  grid-column: 2 / 4;
  align-items: center;
}

.logo {
  margin-right: 10px;
}

.logo img {
  max-height: 50px;
}

.left-nav, .nav-link, .green, .percentage, .slogan a {
color: rgba(110, 173, 58, 1.0);
}

.nav-link {
  justify-self: start;
  align-self: center;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: #EFEDEF;
}

.about {
  grid-column: 6 / 6;
  
}

/****   FOOTER      ****/

.copyright {
  font-size: 0.60em;
  padding-bottom: 20px;
}

.fa {
  font-size: 35px;
  color: lightgray;
}

footer {
  display: grid;
  background-color: #34322D;
  justify-items: center;
  
}

.footer-inner {
  display: grid;
  justify-items: center;
  color: #EFEDEF;
  grid-template-columns: minmax(320px, 680px);
  
}

.footer-header {
  font-weight: bold;
  font-size: 2.813em;
  padding-top: 25px;
}

.footer-nav, .footer-links {
  display: flex;
}

.footer-links li {
  margin-right: 15px;
}

.footer-review{
  text-align: center;
  line-height: 120%;
}

.footer-review, .footer-nav {
  padding: 20px 0;
}


/* Second Navigation in Footer */

.footer-nav {
  margin: auto;
}

.footer-nav li a {
  margin: 0 15px;
  text-decoration: none;
  color: rgba(110, 173, 58, 1.0);
}

.footer-nav li a:hover {
  color: rgba(239, 237, 239, 1.0);

}

/**********   HOME PAGE    **********/

/****   BIO     ****/

.my-name {
  font-size: 2.75em;
  font-weight: bold;
  padding-bottom: 0.5em;
  line-height: 120%;
  
}

.slogan {
  font-size: 1.4em;
  color: rgba(76, 73, 71, 1.0);
  line-height: 1.5;
}

.my-name, .slogan {
  grid-column: 2 / span 5;
}

/*.fa-angle-down {
  
  font-size: 80px;
  color: rgba(76, 73, 71, 1.0);
  text-align: center;
  width: 100%;
}*/

/****   WRITINGCLOUD PROJECT     ****/

.wcproject-wrapper {
  background-color:#A9CFB5;
}

.wcproject {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: minmax(auto, 620px);
  grid-gap: 30px;
  align-items: center;
  margin: auto;
  max-width: 800px;
  
}

.description {
  min-width: 320px;
  width: 60%;
  padding-bottom: 40px;
}

h2 {
  font-size: 2.25em;
  font-weight: bolder;
}

.wcproject h2 {
  color: rgba(63, 104, 74, 1.0);
}

.wcproject p {
  margin-top: 5px;
}

.uxdesign {
  padding: 8px 0 17px;
  color: rgba(76, 73, 71, 1.0);
}


.button {
  border: 3px solid rgba(147, 108, 108, 1.0);
  font-size: 1.125em;
  font-weight: bold;
  text-decoration: none;
  color: rgba(34, 32, 34, 1.0);
  padding: 10px 15px;
  border-radius: 15px;
  display: inline-block;
 }

 .button:hover {
  color: rgba(34, 32, 34, 1.0);
  border: 3px solid rgba(110, 173, 58, 1.0);
  background-color: rgba(110, 173, 58, 1.0);
  transition-delay: 0.3s;
 }

 .cslogo {
   justify-self: end;
 }


/**********   HOME PAGE END  **********/

/**********   ABOUT PAGE  **********/

.biography-text  {
  grid-column: 2 / span 4;
  line-height: 130%;
  margin-right: 20px;
}

.biography p {
  margin-bottom: 20px;
}

.biography img {
  grid-column: 7 / span 2;
  max-width: 350px;
}


/**********   ABOUT PAGE END  **********/

/**********   WRITINGCLOUD CASE    **********/

.intro h1, h4 {
  color: rgba(110, 173, 58, 1.0);
  font-weight: bold;
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 2.5em;
}

h4 {
  font-size: 1.5em;

}

.hifi {
  background-color: rgba(239, 237, 239, 1.0);
}


/****   INTRO     ****/

.left-details {
grid-column: 2 / span 3; 

}

.right-mb {
  grid-column: 6 / span 2;
  display: flex;
  margin: auto;
}

.right-mb img {
  max-height: 450px;
}

.mb {
  margin-right: 20px;
}

.wcdesc {
  font-size: 1.4em;
  color: rgba(76, 73, 71, 1.0);
  line-height: 120%;
  margin: 5px 0 20px 0;

}

.under {
  text-decoration: underline;
}

.ltools {
  margin-bottom: 50px;
}

.lrole {
  margin-bottom: 20px;
}

/****   OVERVIEW    ****/

.overview {
  display: grid;
  background-color: rgba(239, 237, 239, 1.0);
  line-height: 130%;
  padding: 30px 0;
  justify-items: center;
  
}

.overview img {
  margin-bottom: 15px;
}

.wcw {
  font-style: italic;
}

/****** CHALLENGE SECTION *****/

.challenge {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  margin: 70px 0;
}

.left-half {

  grid-column: 2 / span 4;
  line-height: 130%;

}

.right-half {
  grid-column: 6 / span 3;
  align-self: center;

}

.pcloud {
  margin-bottom: 10px;
}

/****   SURVEYS SECTION    ****/

.surveys {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  /*background-image: url ('notes.png');*/
  background-color: rgba(239, 237, 239, 1.0);
  background-size: cover;
  padding: 30px 0;
}

.left-users {
  grid-column: 2 / span 4;
  line-height: 130%;
}

.per1 p, .per2 p {
  line-height: 130%;
}

.results, .goals {
  list-style-type: circle;
  list-style-position: inside;
}

.results li, .left-users p, .percentage, .per1 p, .per2 p {
  margin-bottom: 20px;
}

.results li {
  width: 500px;
}

.per2 {
  grid-column: 8 / span 2;
}

.per1 {
  grid-column: 6 / span 2;
}


/****   PERSONAS    ****/

.aspire {
  font-size: 16px;
  color: #858585;
}

.goal-frustration{
  font-weight: bold;
  margin: 15px 0 0 0;
}

.subtitle{
  font-size: 1.75em;
  font-weight: bold;
  margin-top: 5px;
}

.personas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 70px 0;
  line-height: 130%;
}

.uP-title {
  grid-column: 1/5;
  text-align: center;
}

.persona {
  padding: 10px 75px;
  width: 55%;
  margin: 0 auto;
  text-align: center;
}

.goals, .frustrations {
  text-align: left;
}

.mike, .kiah {
  border-right: 1px solid black;
  padding-right: 25%;
}

/****** User Flows Section *****/
.flows {
  text-align: center;
  margin: 70px 0;
}

.uflow {
  max-width: 100%;

}


/****** LOW FIDELITY WIRE FRAMES *****/

.grouplofi {
  display: grid;
  grid-gap: 20px;
  grid-template-columns:1fr 1fr;
}

.lofi h4, .lofi p {
  grid-column: 1/3; 
}

.lofi h4 {
  text-align: center;
}

.left-lofi {
  justify-self: end;
}

/****** BRANDING *****/

.branding {
  margin: 70px 0;
}

.branding-overview {
  text-align: center;
}

.branding-overview img {
  margin: 10px 0 20px 0;
  max-width: 300px;
}

.branding-overview p, .lo-fi p, .flows p {
  text-align: left;
}

.color-description {
  display: grid;
}

.color-description p {
  justify-self: end;
  margin: 0 0 20px 0;
}

.colors {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.color-pal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin: auto;
}

.square {
 height: 144px;
 width: 144px;
}

.one {
 background-color: rgba(34, 34, 34, 1.0);
}

.two {
 background-color: rgba(246, 246, 246, 1.0);
}

.three {
 background-color: rgba(169, 207, 181, 1.0);
}

.four {
 background-color: rgba(255, 155, 106, 1.0);
}

/****** Hi-Fidelity Mock Ups Section *****/

.hifi {
  padding: 70px 0;
}

.hifi h4 {
  text-align: center;
}

.hifileft {
  justify-self: end;
}

.hifi-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
  padding-bottom:30px;
}

/****** Conclusion Section *****/

.conclusion {
  line-height: 130%;
  margin: 70px 0;
}

.conclusion h4, .prototype {
  text-align: center;
}

.conclusion span {
  font-weight: bold;
}

/*.button-small {
  border: 3px solid rgba(147, 108, 108, 1.0);
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  color: rgba(34, 32, 34, 1.0);
  padding: 10px 15px;
  border-radius: 15px;
  display: inline-block;
 }

 .button-small:hover {
  color: rgba(34, 32, 34, 1.0);
  border: 3px solid rgba(110, 173, 58, 1.0);
  background-color: rgba(110, 173, 58, 1.0);
  transition-delay: 0.3s;
 }*/


/****   MEDIA QUERIES    ****/

@media screen and (max-width: 600px) {
 
  .intro, .challenge, .surveys, .overview,
  .personas, .flows, .lofi, .branding, .hifi,
  .conclusion, .colors, .bio, .wcproject, .biography, 
  .right-mb, .grouplofi, .color-description, .hifi-imgs {

    display: block;
  }

  .bio, .biography, .intro {
    margin: 80px 10px 30px 10px;
  }
 
  p, li {
    max-width: 300px;
    margin: auto;
  }

  .navname, .overview img, .lines-pic  {
    display: none;
  }
  
  .nav-link {
    font-size: 16px;
    padding: 0 10px;
  }

  .solo-title {
     margin: 35px auto 15px auto;
     text-align: center;
   }

  .wcdesc {
    margin: auto auto 15px auto;
  }

  .mb {
    margin-top: 40px;
   }

  .my-name, .footer-header {
    font-size: 1.75em;
  }

  .slogan, .invision, .subtitle {
    font-size: 1em;
  }

  .wcproject {
    vertical-align: middle;
    text-align: center;
    padding: 50px 0;
  }

  .biography img {
    width: 100%;
  }

  .overview {
    margin: 10px auto;
  }

  .overview h4 {
    text-align: center;
  }

  .overview p, .lofi p, .hifi p, .conclusion p, .hifi p, .branding-overview p, 
  .color-description p, {
    margin-bottom: 15px;
  }

  .left-users, .left-half {
    margin: auto;
    padding: 20px;

  }

  .color-description p, .challenge {
    margin: auto;
  }

  .mike, .kiah {
  border-right: 0;
  border-bottom: 2px solid black;
  }

  .flows img, .lofi-img img, .lofi-img, .branding-overview img, .hifi-imgs img {
    width: 100%;
  }

  .color-pal {
    justify-items: center;
    align-items: center;
  }

  .footer-nav a {
    font-size: 16px;
  }
}